/* Start writing your CSS */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap')

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body{
    background-image: url('../img/animatedsky.GIF');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  
  }

  /* Head Section Styles */

  header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 0.2rem;
    box-shadow: 0px 4px 4px #535353;
    filter: blur(0.55px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    border-radius: 6em 6em 6em 6em;
    background-color:#4F4F4F;
    background-image: linear-gradient(#535353, #868686);
    position: relative;
  }

  .header_hzlayout{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 95%;
    margin: 0 auto;
    padding: .2rem;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 65%;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  nav ul li{
    display: flex;
    justify-content: space-between;
    font-family: Jura, sans-serif;
    text-align: center;
    align-items: center;
    margin: 0 3%;
    padding: 3% 5%;
    box-shadow: 0px 4px 4px #535353;
    filter: blur(0.55px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    border-radius: 6em 6em 6em 6em;
    background-color: #4F4F4F;
    background-image: linear-gradient(#535353, #868686);
  }

  nav ul li a{
    text-decoration: none;
    color: #fff;
  }

  /* Overall Page Style */

  h1{
    font-family: "Jura", sans-serif;
    text-align: center;
    color: #535353;
    font-size: 130px;
  }

  p{
    font-family: Jura, sans-serif;
    font-size: 40px;
    text-align: center;
  }

  /* Home Page Styles */

  .sliderbox{
    width: 300px;
    height: 300px;
    background-color: gray;
  }

  .carousel_item{
    box-shadow: 4px 6px px #535353;
    filter: blur(0.55px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    background-color: #4F4F4F;
    background-image: linear-gradient(#535353, #b5b5b5);
    border-radius: 3em 3em 3em 3em;
  }


  .topnav-right {
    float: right
  }









  /* Media Queries */

  /* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1439.98px) { 

}

/* Large devices (desktops, less than 1024px) */
@media (max-width: 1023.98px) { 

}

/* Medium devices (tablets, less than 744px) */
@media (max-width: 743.98px) { 

}

/* Small devices (landscape phones, less than 430px) */
@media (max-width: 429.98px) {

}

/* X-Small devices (portrait phones, less than 375px) */
@media (max-width: 374.98px) {

}

/* This is the CSS for my carousel */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap')

*:not(style, head),
*::before,
*::after {
  box-sizing: border-box;
}

/*
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
*/


#homebody{
  background-image: url("../img/animatedsky.gif") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Jura", sans-serif;    
}

/* Main Styles */



/* Navigation Styles */

#homepage {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.2rem;
    box-shadow: 0px 4px 4px #535353;
    filter: blur(0.55px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    border-radius: 25em 25em 25em 25em;
    background-color:#4F4F4F;
    background-image: linear-gradient(#535353, #868686);
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    align-items: right;
  }

  nav ul li{
    display: flex;
    justify-content: space-between;
    font-family: Jura, sans-serif;
    text-align: center;
    align-items: center;
    padding: 5%;
    margin: 5%;
    background-image: linear-gradient(rgba(181,181,181,0), rgba(83,83,83,1)) ;
    border-radius: 30px;
    border: 1px white solid;
  }

  nav ul li a{
    font-family: "Jura", sans-serif;
    font-size: 1.2rem;
    
    color: #fff;
    text-decoration: none;
  }

/* Page Styles */

  h1{
    font-family: Jura, sans-serif;
    text-align: center;
    color: #535353;
    font-size: 165px;
  }

  p{
    font-family: Jura, sans-serif;
    font-size: 64px;
    text-align: center;

  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container h1{
    font-family: Jura, sans-serif;
    text-align: center;
    color: #535353;
    font-size: 60px;
  }

/* Begin Carousel Styles */

body article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  overflow: visible;
}


.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-slide {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 25px;
  padding: 10px;
  margin: 0;
  cursor: grab;
  user-select: none;
  text-wrap: pretty;
}

.swiper .swiper-slide::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-bottom: 1px dashed white;
  border-right: 1px solid white;
  border-radius: 6em 6em 6em 6em;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-top: 1px solid white;
  border-left: 1px dashed white;
  border-radius: 7px 0 0 0;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide:hover {
  background: linear-gradient(
    135deg,
    #ff1e9c99,
    #ff1ea499,
    #ff1fbc99,
    #ff1fde99,
    #f620ff99,
    #c721ff99,
    #9723ff99,
    #6a24ff99,
    #4125ff99,
    #252aff99,
    #2641ff99,
    #2649ff99
  );
}

.swiper .swiper-slide:hover::before,
.swiper .swiper-slide:hover::after {
  width: 170px;
  height: 170px;
  transition: all 0.3s ease;
}

.swiper .swiper-slide .cardPopout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 25px;
}

.swiper .swiper-slide h2 {
  font-size: 200%;
  line-height: 110%;
  margin: 0 0 7px 0;
  color: white;
  font-family: "Nabla", system-ui;
  font-variation-settings: "EDPT" 100, "EHLT" 24;
  background-color: #111;
  border-radius: 100%;
}

.swiper .swiper-slide h4 {
  font-size: 110%;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 13px 0;
  color: #bbb;
  font-style: italic;
}

.swiper .swiper-slide figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  padding-left: 20px;
  border-left: 1px solid white;
}

.swiper .swiper-slide figcaption p {
  color: #999;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper .swiper-slide a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.6s ease !important;
}

.swiper .swiper-slide a:hover {
  color: black;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a::after {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2649ff;
  content: "";
  z-index: -1;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover::after {
  right: 0;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a svg {
  width: 23px;
  height: auto;
  fill: white;
  margin-left: 5px;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover svg {
  margin-left: 10px;
  fill: black;
  transition: all 0.6s ease;
}

.swiper .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 10px;
}

@media (max-height: 550px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 2;
  }
}

@media (max-height: 490px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 1;
  }
}

@media (max-height: 460px) {
  .swiper .swiper-slide figcaption p {
    display: none;
  }
  .swiper .swiper-slide h4 {
    margin: 0;
  }
}

@media (max-height: 430px) {
  .swiper .swiper-wrapper {
    position: relative;
    bottom: 6px;
  }
}

@media (max-width: 750px) {
  .swiper .parallax-bg {
    width: 320%;
  }
}
.container

/* This is the CSS for my About Page */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap')

*:not(style, head),
*::before,
*::after {
  box-sizing: border-box;
}

/*
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
 overflow: hidden;
*/


#homebody{
  background-image: url("../img/animatedsky.gif") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Jura", sans-serif;    
}

/* Main Styles */



/* Navigation Styles */

#homepage {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.2rem;
    box-shadow: 0px 4px 4px #535353;
    filter: blur(0.55px);
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;
    border-radius: 25em 25em 25em 25em;
    background-color:#4F4F4F;
    background-image: linear-gradient(#535353, #868686);
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    align-items: right;
  }

  nav ul li{
    display: flex;
    justify-content: space-between;
    font-family: Jura, sans-serif;
    text-align: center;
    align-items: center;
    padding: 5%;
    margin: 5%;
    background-image: linear-gradient(rgba(181,181,181,0), rgba(83,83,83,1)) ;
    border-radius: 30px;
    border: 1px white solid;
  }

  nav ul li a{
    font-family: "Jura", sans-serif;
    font-size: 1.2rem;
    
    color: #fff;
    text-decoration: none;
  }

/* Page Styles */

  h1{
    font-family: Jura, sans-serif;
    text-align: left;
    padding-left: 5cm;
    color: #535353;
    font-size: 165px;
  }

  h3{
    font-family: Jura, sans-serif;
    text-align: left;
    color: #535353;
    font-size: 28px;
  }

  p{
    font-family: Jura, sans-serif;
    font-size: 64px;
    text-align: center;

  }


/* Begin Carousel Styles */

body article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  overflow: visible;
}


.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-slide {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 25px;
  padding: 10px;
  margin: 0;
  cursor: grab;
  user-select: none;
  text-wrap: pretty;
}

.swiper .swiper-slide::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-bottom: 1px dashed white;
  border-right: 1px solid white;
  border-radius: 6em 6em 6em 6em;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-top: 1px solid white;
  border-left: 1px dashed white;
  border-radius: 7px 0 0 0;
  content: "";
  transition: all 0.3s ease;
}

.swiper .swiper-slide:hover {
  background: linear-gradient(
    135deg,
    #ff1e9c99,
    #ff1ea499,
    #ff1fbc99,
    #ff1fde99,
    #f620ff99,
    #c721ff99,
    #9723ff99,
    #6a24ff99,
    #4125ff99,
    #252aff99,
    #2641ff99,
    #2649ff99
  );
}

.swiper .swiper-slide:hover::before,
.swiper .swiper-slide:hover::after {
  width: 170px;
  height: 170px;
  transition: all 0.3s ease;
}

.swiper .swiper-slide .cardPopout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 25px;
}

.swiper .swiper-slide h2 {
  font-size: 200%;
  line-height: 110%;
  margin: 0 0 7px 0;
  color: white;
  font-family: "Nabla", system-ui;
  font-variation-settings: "EDPT" 100, "EHLT" 24;
  background-color: #111;
  border-radius: 100%;
}

.swiper .swiper-slide h4 {
  font-size: 110%;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 13px 0;
  color: #bbb;
  font-style: italic;
}

.swiper .swiper-slide figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  padding-left: 20px;
  border-left: 1px solid white;
}

.swiper .swiper-slide figcaption p {
  color: #999;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper .swiper-slide a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.6s ease !important;
}

.swiper .swiper-slide a:hover {
  color: black;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a::after {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2649ff;
  content: "";
  z-index: -1;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover::after {
  right: 0;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a svg {
  width: 23px;
  height: auto;
  fill: white;
  margin-left: 5px;
  transition: all 0.6s ease;
}

.swiper .swiper-slide a:hover svg {
  margin-left: 10px;
  fill: black;
  transition: all 0.6s ease;
}

.swiper .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 10px;
}

@media (max-height: 550px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 2;
  }
}

@media (max-height: 490px) {
  .swiper .swiper-slide figcaption p {
    -webkit-line-clamp: 1;
  }
}

@media (max-height: 460px) {
  .swiper .swiper-slide figcaption p {
    display: none;
  }
  .swiper .swiper-slide h4 {
    margin: 0;
  }
}

@media (max-height: 430px) {
  .swiper .swiper-wrapper {
    position: relative;
    bottom: 6px;
  }
}

@media (max-width: 750px) {
  .swiper .parallax-bg {
    width: 320%;
  }
}

/* This is my CSS for glassmorph */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jura, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent;
    background-image: url('../img/transpagefloatingpoint.mp4');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    overflow: visible;
  }
  
  .swiper .swiper-wrapper {
    align-items: center;
  }
  
  .swiper .swiper-slide {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(102, 102, 102, 0.8);
    border-radius: 25px;
    padding: 10px;
    margin: 0;
    cursor: grab;
    user-select: none;
    text-wrap: pretty;
  }
  
  .swiper .swiper-slide::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    border-bottom: 1px dashed white;
    border-right: 1px solid white;
    border-radius: 6em 6em 6em 6em;
    content: "";
    transition: all 0.3s ease;
  }
  
  .swiper .swiper-slide::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-top: 1px solid white;
    border-left: 1px dashed white;
    border-radius: 7px 0 0 0;
    content: "";
    transition: all 0.3s ease;
  }

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    animation: tilt-n-move-shaking 11s infinite;
}

.container .card
{
    position: relative;
    width: 280px;
    height: 305px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content
{
    padding: 15px;
    text-align: center;
}

/* Disabled Optional "Fly-Up" Content Effect
.container .card .content
{
    padding: 15px;
    text-align: center;
    transform: translateY(100px);
    opacity: 20%;
    transition: 0.5s;
}
*/

.container .card .content img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 18px 18px 0px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2
{
    position: center;
    font-size: 3em;
    padding-bottom: 9px;
    color: whitesmoke;
    pointer-events: none;
}

.container .card .content h3
{
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.05)
    z-index: 1;
}

.container .card .content p
{
    font-size: 1em;
    color: whitesmoke;
    font-weight: 300;
}

.container .card .content a
{
    position: center;
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
}

/* Disabled Optional Link Button Format
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
    background: whitesmoke;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*/

body { font-family: sans-serif; }

div {
  text-align: center;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(15px, 15px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0deg); }
  75% { transform: translate(-15px, 15px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

/* Will be used for Page Titles */
@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(5px) }
  50% { transform: translateY(-5px) }
  75% { transform: translateY(5px) }
  100% { transform: translateY(0) }
}

